.accordion-body{
margin-bottom: 27px !important;
}
.clear-btn{
    background-color: #1a6c7e !important;
    border-color: #0d6efd26 !important;
    float: right;
    margin-bottom: 20px;
}
.submit-view{
    text-align: center;
    margin-top: 4px;
}

.btn{border-radius: 15px !important;}


.nav-tabs .nav-link {
    margin-bottom: -1px;
    background: #99bae5c2 !important;
    border: 1px solid #0f85eb99 !important;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    margin-top: 2px;
}

.nav-tabs .nav-link.active {
    color: #ffffff !important;
    background-color: #fff ;
    border-color: #dee2e6 #dee2e6 #fff !important;
   box-shadow: 1px 1px #53A7EA,
   2px 2px #53A7EA,
   3px 3px #53A7EA;
}
